<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Wasm Fiddle</title>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <br />
    <div>
        <h1 style="text-align: center;">Wasm Fiddle User Management </h1>
    </div>
<div class="container" style="align-content: center;">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span>Social Authentication Login</h1>
        <a href="google" class="btn btn-google"><span class="fa fa-google"></span> SignIn with Google</a>
        <a href="facebook" class="btn btn-facebook"><span class="fa fa-facebook"></span> SignIn with Facebook</a>
        <br />
        <br />
        <a href="http://localhost:3000/auth/linkedin/callback" class="btn btn-linkedin"><span class="fa fa-linkedin"></span> SignIn with LinkedIn</a>
        <a href="http://localhost:3000/auth/twitter/callback" class="btn btn-twitter"><span class="fa fa-twitter"></span> SignIn with Twitter</a>
    </div>
</div>

<nav class="container" role="navigation" style="text-align: right;">
    <div class="jumbotron text-center text-primary">
    <h2>Logout</h2>
      <a href="/googlelogout" class="fa fa-google" style="padding-right: 10px;"></a>
      <a href="/fblogout" class="fa fa-facebook" style="padding-right: 10px;"></a>
      <a href="/linkedinlogout" class="fa fa-linkedin" style="padding-right: 10px;"></a>
      <a href="/twitterlogout" class="fa fa-twitter" style="padding-right: 10px;"></a>
    </div>
    <dvi><h6>Note: Logout will logout your social account from all associated devices.</h6></dvi>
</nav>
</body>
</html> 


